<log4net>
  <appender name="VPLogging2Appender" type="Log4netAsynAppender.AsynchronousAdoNetAppender, Log4netAsynLogger">
  <!--<appender name="VPLogging2Appender" type="log4net.Appender.ADONetAppender">-->
  <!--<bufferSize value="128" />-->
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=10.254.1.3,1511;Initial Catalog=VPLogging2;User ID=maintenance;Password=maintenance;Application Name=Test" />
    <commandText value="VP.P_CORE_Logging_Log_Insert" />
    <commandType value="StoredProcedure" />
    <parameter>
      <parameterName value="@LogTypeId" />
      <dbtype value="Int32" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="1"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ApplicationName" />
      <dbtype value="String" />
      <size value="64" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="test"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@PolicyName" />
      <dbtype value="String" />
      <size value="64" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="test"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@MachineName" />
      <dbtype value="String" />
      <size value="64" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="test"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@WindowsIdentity" />
      <dbtype value="String" />
      <size value="64" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%username"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Level" />
      <dbtype value="String" />
      <size value="16" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Summary" />
      <dbtype value="String" />
      <size value="512" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} %property{log4net:HostName} %newline [%type] %newline %-5p %message%newline%exception" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Message" />
      <dbtype value="String" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} %property{log4net:HostName} %newline [%type] %newline %-5p %message%newline%exception" />
      </layout>
    </parameter>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="VPLogging2Appender" />
  </root>
</log4net>